@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Products</h2>

<div class="card-list">
    @foreach (var product in Model.Products)
    {
        <div class="contact-card">
            <img src="@product.Image" alt="" />
            <h3>@product.Name</h3>
            <div class="info-group">
                <p>@product.Discreption</p>
            </div>
            <div class="info-group">
                <p id="priceTag">SAR @product.Price</p>
            </div>
            <div class="flex">
                <button class="add-btn" data-product-id="@product.Id" data-product-price="@product.Price">
                    Add to cart
                </button>
                <input type="number" class="quantity quantity-input" value="1">
            </div>
        </div>
    }
</div>
